# Xcode
*.xcodeproj
*.xcworkspace
!default.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
DerivedData/
*.xccheckout
*.moved-aside
*.hmap
*.ipa

# CMake
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Temporary
*.swp
*.swo
*~

# Data
data/*
!data/.gitkeep
